.App {
  text-align: center;
}

.bookItem {
  cursor: pointer;
  margin: 5px;
  list-style: none;
  border: 1px solid gray;
  font-size: 20px;
  margin-right: 70%;
  padding: 15px;
}

.bookDetails {
  display: flex;
  flex-direction: column;
}